h1{
    text-align: center;
    margin-top: 10px;
}
img{
    position: relative;
    display: inline-block;
    width: 15%;
}
p
{
    width: 76%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 120%;
    font-family: Scto Grotesk A,sans-serif;
    color: black;
}

.button1
{
    font-family: Scto Grotesk A,sans-serif;
    color: black;
    text-decoration: underline; color: black
}